form {
  display: flex;
  flex-direction: column;
  margin: 1rem;

  div {
    display: flex;
    gap: 1rem;
  }

  div.place-forms {
    mat-form-field {
      width: 100%;
    }
  }

  button {
    height: 3rem;
  }
}
