<!-- FILEPATH: /c:/Users/nasro/Documents/4g-clinical/4g-clinical/src/app/robot/components/command/command.component.html -->

<form #commandForm="ngForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="commands">Select your next move:</label>
    <select id="commands" name="commands" [(ngModel)]="command" required>
      <option *ngFor="let command of commands" [value]="command">
        {{ command }}
      </option>
    </select>
  </div>

  <div *ngIf="command === 'PLACE'">
    <label for="x">X:</label>
    <input type="number" id="x" name="x" [(ngModel)]="x" required />

    <label for="y">Y:</label>
    <input type="number" id="y" name="y" [(ngModel)]="y" required />

    <label for="direction">Direction:</label>
    <select id="direction" name="direction" [(ngModel)]="direction" required>
      <option *ngFor="let direction of directions" [value]="direction">
        {{ direction }}
      </option>
    </select>
  </div>

  <div *ngIf="command === 'TURN'">
    <label for="turnDirection">Turn Direction:</label>
    <select
      id="turnDirection"
      name="turnDirection"
      [(ngModel)]="turnDirection"
      required
    >
      <option *ngFor="let orientation of orientations" [value]="orientation">
        {{ orientation }}
      </option>
    </select>
  </div>

  <button type="submit">Submit</button>
</form>

<p *ngIf="reportLabel">{{ reportLabel }}</p>
