<div class="command-form">
  <form #commandForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Select your next move:</mat-label>
      <mat-select data-cy="command" [(value)]="command" required>
        <mat-option *ngFor="let item of commands" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="place-forms" *ngIf="command === 'PLACE'">
      <mat-form-field>
        <mat-label>X:</mat-label>
        <input data-cy="place-x" matInput name="x" type="number" [(ngModel)]="x" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Y:</mat-label>
        <input data-cy="place-y" matInput name="y" type="number" [(ngModel)]="y" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Direction:</mat-label>
        <mat-select data-cy="place-direction" [(value)]="direction" required>
          <mat-option *ngFor="let direction of directions" [value]="direction">
            {{ direction }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="command === 'TURN'">
      <mat-form-field>
        <mat-label>Orientation:</mat-label>
        <mat-select data-cy="turn" name="turnDirection" [(value)]="orientation" required>
          <mat-option *ngFor="let orientation of orientations" [value]="orientation">
            {{ orientation }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button data-cy="confirm" type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</div>
