.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .table-item {
    border: solid 1px black;
    flex: 0 1 calc(20% - 8px);
  }

  .table-item::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .table-item-active {
    background-color: #c0392b;
  }
}
